@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  background-color: rgb(0, 154, 174);
  color: black;
  font-family: Arial, sans-serif;   
  /* margin: 0;
  padding: 0; */
}